// Navigation code here

nav {

   
    .letsFlex(column);
    align-items: center;


    background-color: @nav-bg;

    h1 {
        margin: 1% 0;

    }

    .links {
        .letsFlex();
        width: 30%;
        justify-content: space-between;
        margin-bottom: 1%;

        @media @phone {
            width: 80%;
        }


        a {
            font-size: 1.6rem;
            text-decoration: none;
            color: @main-font-color;
        }

        
    }
}
